@keyframes coin-popup-r-to-l {
  0% {
    top: -60px;
    transform: scale(0);
    rotate: 0;
  }
  50% {
    transform: scale(1.1);
    top: -60px;
    rotate: 35deg;
  }
  65% {
    transform: scale(1);
    top: -60px;
    rotate: 80deg;
  }
  100% {
    top: 20px;
  }
}

@keyframes pig-popup-r-to-l {
  0% {
    height: 139px;
  }
  50% {
    height: 139px;
  }
  80% {
    height: 139px;
  }
  90% {
    height: 133px;
  }
  100% {
    height: 139px;
  }
}

.popupOpen {
  overflow: hidden;

  .popup_area {
    opacity: 1;
    visibility: visible;
  }
}

.popup_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 400ms all;
  z-index: 1000;

  .popup_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 831px;
    height: 549px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(180deg, #420B8B 0%, rgba(81, 9, 137, 0.92) 56.25%, rgba(99, 7, 134, 0.82) 81.25%, rgba(117, 5, 131, 0.72) 100%);
    border-radius: 10px;

    .img_area {
      position: absolute;
      display: flex;
      right: 0;
      flex-direction: column;
      align-items: center;

      &:before {
        content: '';
        position: absolute;
        width: 189px;
        height: 139px;
        top: -20px;
        right: -18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation: pig-popup-r-to-l 2.5s infinite;
        background-image: url("img/popup_pig_mask.png");
        z-index: 30;
      }


      .coin_popup_img {
        position: absolute;
        right: 65px;
        top: -60px;
        z-index: 25;
        animation: coin-popup-r-to-l 2.5s infinite;
      }

      .pig_ads {
        position: absolute;
        top: -20px;
        right: -18px;
        z-index: 20;
        height: 139px;
        object-fit: contain;
        animation: pig-popup-r-to-l 2.5s infinite;
      }

      .pig_ads_line {
        position: absolute;
        top: 85px;
        left: -118px;
        z-index: 10;
      }
    }

    .item_popup {
      display: flex;
      justify-content: space-between;
      width: 558px;
      position: relative;
    }

    .title_area {
      .pay_the_by_year {
        margin-top: 0;
        color: #E5D5FF;
        font-family: Circular;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1.4px;
        margin-bottom: 10px;
      }

      .discount_title {
        margin-top: 0;
        margin-bottom: 0;
        color: #FFB828;
        font-family: Poppins;
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1.4px;
      }
    }

    .text {
      color: #7E8DAA;
      font-family: Circular;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      position: absolute;
      bottom: 0px;
      max-width: 750px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 18px;
    }

    .price_carts {
      z-index: 10;
      display: flex;
      margin-top: 36px;

      .card_button {
        text-decoration: none;
        padding: 8px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        font-weight: 500;
        border-radius: 5px;
        transition: .5s all;

        &:hover {
          opacity: .6;
        }
      }

      .p_cart_item {
        margin: 0 5px;
        width: 176px;
        background-color: #E6EBF2;
        border-radius: 8px;

        .price_line {
          text-align: center;
          color: #2B3245;
          display: flex;
          flex-direction: column;
          padding: 24px 16px;

          .annually {
            color: #57647E;
            font-size: 12.739px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .new_price {
            font-size: 34.404px;
            font-weight: 700;

            .penny_area {
              font-weight: 500;
            }

            span, .penny_area {
              font-size: 17.202px;
            }
          }

          .old_price {
            font-size: 28.49px;
            position: relative;

            &:before {
              content: "";
              width: 40px;
              height: 3px;
              background-color: rgba(199, 29, 56, 0.75);
              border-radius: 10px;
              position: absolute;
              top: 17px;
              transform: rotate(166deg);
              margin-left: 7px;
            }

            span, .penny_area {
              font-size: 14.58px;
            }

            .penny_area {
              color: #57647E;
            }
          }
        }

        .p_head_area {
          width: 100%;
          height: auto;
          text-align: center;
          padding: 15px 0;
          color: #FFF;
          font-size: 17.755px;
          font-weight: 500;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }

        .silver {
          background-color: #57647E;
        }

        .bronze {
          background-color: #E8000C;
        }

        .gold {
          background-color: #FBAA32;
          color: #2B3245;
        }
      }
    }

    .close_button {
      position: absolute;
      top: 15px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      right: 15px;
    }

    form {
      margin-bottom: 0;
      position: absolute;
      left: 15px;
      bottom: -25px;
      color: white;
    }

  }
}

@media only screen and (max-width: 1100px) {
  .popup_area {
    .popup_content {
      width: calc(100% - 50px);
    }
  }
}

@media only screen and (max-width: 992px) {
  .popup_area .popup_content {
    height: fit-content;
    padding: 100px 0;

    .text {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .popup_area {
    overflow-y: scroll;
    overflow-x: hidden;

    .popup_content {
      .price_carts {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .popup_area .popup_content {
    padding: 30px 0 100px 0;
    .item_popup{
      .title_area{
        text-align: center;
        width: 100%;
      }
    }
    .title_area .discount_title {
      font-size: 50px;
    }
    .price_carts {
      margin-top: 20px;
      padding: 0 15px;
      .p_cart_item {
        width: 140px;
        margin-bottom: 10px;
        .price_line {
          padding: 10px 9px;
          .new_price{
            font-size: 26.404px;
          }
          .old_price {
            font-size: 20.49px;
            &:before{
              top: 13px;
            }
          }
        }
      }
    }
    .img_area {
      display: none;
    }
  }
}

@media only screen and (max-width: 505px){
  .popup_area .popup_content {
    .text{
      position: relative;
    }
    padding: 50px 0 0 0;
    margin-top: 10px;
  }
}
